
.row {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.courses {
  border: solid;
  border-width: 1px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.titles {
  margin-top: 1rem;
}
.course-title {
  font-weight: bold;
}
@media screen and (max-width:993px) {
  .courses {
    margin-bottom: 2rem;
  }
  .row {
    margin-bottom: 0;
  }
}
